body {
    background-color: rgb(238, 230, 0);
    text-align: right;
}

#grid {
    font-weight: bold;
}

.stadium {
    color: rgba(0, 81, 255, 0.692);
    text-decoration: underline;
}

/*customize the popup background*/
.popup {
    background: rgba(0, 0, 0, 0.6);
    left: 0.01%;
    width: 110%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    font-family: var(--bs-body-font-family);
}

/*customize the popup content*/
.popup-content {
    height: 400px;
    width: 700px;
    background: #cbc67cdc;
    border-radius: 5px;
    position: relative;
    text-align: center;
}

/*customize the image size in the popup*/
.img {
    transform: scale(0.22);
    margin: 220px;
    margin-top: -85px;
}

/*customize the close button*/
.close {
    position: absolute;
    height: 15px;
}

/*customize the image size*/
.bsymbol {
    margin-top: 20px;
    position: absolute;
    top: -10px;
    left: 20px;
    width: 120px;
}

/*customize the teddi image size*/
#teddi {
    height: 50%;
    width: 40%;
    margin-right: -30%;
}

/*increase the title size*/
#title {
    font-size: 50px;
}

#popup_title {
    font-size: 40px;
    margin-top: -285px;
}

/*
.dropdown-menu {
    display:list-item;
    right: 0%;
    top:30%;
}

#menu {
    padding-right: 0px;
    right: 0%;
    top: 20%;
    background-image:url('menu.png');
    height: 50px;
    width: 50px;
}*/

.dropdown-menu {
    display: none;
}

.dropdown {
    margin-right: 10px;
    padding-top: 10px;
}

.btn-dark, .btn-dark:hover, .btn-dark::after{
    color: rgb(245, 229, 3);
}

.summary {
    display: flex;
}

.quiz {
    top: 30%;
    position: absolute;
}

.my-custom-scrollbar {
    position: relative;
    height: 300px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

/*customize the add row */
.add {
    background-color: rgb(236, 201, 1);
    border-radius: 12%;
    display: flex;
    align-items: center;
    height: 60px;
}

/*hide the inputs row*/
#add_details {
    display: none;
}

/*designing the inputs for the new game*/
.new_data {
    border-radius: 12%;
    font-weight: bold;
    width: 100%;
}

/*sizes of the plus and close buttons for new game*/
#plus {
    height: 35px;
    width: 35px;
}

#add_close {
    height: 25px;
    width: 25px;
}
