body, .fs-5{
    background-color:rgb(249, 249, 249);
    font-family: var(--bs-body-font-family);
    margin: auto;
    display: flex
}

/*customize the image size*/
.bsymbol {
    margin-top: 20px;
    position:absolute;
    top: -10px;
    left: 20px;
    width: 120px;
}

/*customize the fields*/
input{
    background-color: rgb(245, 229, 3) !important;
    text-align:end;
}

/*changing the input's text border*/

.form-control{
    border-color: black;
    border: solid;
}

/*center the content of the page*/
.move{
    margin-right: 9%;
}

/*increase the title size*/
#title {
    font-size: 50px;
    margin-top: 4.5rem;
}

/*changing the button's text color*/
#login {
    color: black !important;
}

#error-massage{
    display: none;
}