body {
    background-color:rgb(249, 249, 249);
}

/*customize the image size*/
.bsymbol {
    transform: scale(7.8);
    margin: 0;
}

/*customize the fields*/
input {
    background-color: rgb(245, 229, 3);
    font-size: 24px;
    border-radius: 7%;
}

/*center the content of the page*/
.move{
    margin-right: 9%;
}

/*increase the title size*/
#title {
    font-size: 50px;
}

/*changing the button's text color*/
#login {
    color: black !important;
}