<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>עם הנצח</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="register.css">
</head>

<body dir="rtl">
    <div class="container min-vh-100">
        <div class="row p-3">
            <div class="col-1 login">
                <a class="fs-5" href="login">התחבר</a>
            </div>
            <div class="col-md-10 text-center move">
                <div id="title"><b>עם הנצח</b></div>
            </div>
            <div class="col-1">
                <img class="col-3 bsymbol" src="../pictures/symbol.png">
            </div>
        </div>
        <div class="row p-2">
            <div class="col my-2">
                <div class="fs-3"><u>טופס הרשמה</u></div>
            </div>
        </div>
        <form action="/register" method="post">
            <div class="row form-outline">
                <div class="col form-outline row p-4">
                    <div class="col-md-3">
                        <label class="form-label fs-5">דואר אלקטרוני</label>
                    </div>
                    <div class="col-md-3">
                        <input name="Email" type="email" class="form-control" placeholder="example@gmail.com">
                    </div>
                    <div class="form-text"></div>
                </div>
                <div class="col form-outline row p-4">
                    <div class="col-md-3">
                        <label class="form-label fs-5">סיסמה</label>
                    </div>
                    <div class="col-md-3">
                        <input name="Password" type="password" class="form-control" placeholder="סיסמה חייבת להכיל לפחות 4 תווים.">
                    </div>
                    <div class="form-text"></div>
                </div>
            </div>
            <div class="row form-outline">
                <div class="col form-outline row p-4">
                    <div class="col-md-3">
                        <label class="form-label fs-5">שם פרטי</label>
                    </div>
                    <div class="col-md-3">
                        <input name="First_Name" type="text" class="form-control" placeholder="דוגמה: ישראל">
                    </div>
                    <div class="form-text"></div>
                </div>
                <div class="col form-outline row p-4">
                    <div class="col-md-3">
                        <label class="form-label fs-5">שם משפחה</label>
                    </div>
                    <div class="col-md-3">
                        <input name="Last_Name" type="text" class="form-control" placeholder="דוגמה: ישראלי">
                    </div>
                    <div class="form-text"></div>
                </div>
            </div>
            <div class="row form-outline">
                <div class="col form-outline row p-4">
                    <div class="col-md-3">
                        <label class="form-label fs-5">תאריך</label>
                    </div>
                    <div class="col-md-3">
                        <input name="Date_Of_Birth" type="date" class="form-control">
                    </div>
                    <div class="form-text"></div>
                </div>
                <div class="col form-outline row p-4">
                    <div class="col-md-3">
                        <label class="form-label fs-5">תמונת פרופיל</label>
                    </div>
                    <div class="col-md-3">
                        <input name="Img" type="file" class="form-control">
                    </div>
                    <div class="form-text"></div>
                </div>
            </div>
            <div class="row p-4">
                <div class="col">
                    <div class="col-md-12">
                        <a href="#" class="button col-1 my-4 qb" id="quiz">שאלון</a>
                    </div>
                </div>
            </div>
            <div class="popup">
                <div class="popup-content">
                    <img class="close" src="../pictures/close.png">
                    <img class="img" src="../pictures/symbol.png">
                    <div class="container quiz">
                        <div class="row">
                            <div class="col">
                                <div class="form-group d-flex">
                                    <div class="col-6 my-2 fs-5">מתי התאהבת בביתר?</div>
                                    <input name="When" class="col-4 my-2 fs-5" id="love">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group d-flex">
                                    <div class="col-6 my-2 fs-5">מי השחקן האהוב עליך?</div>
                                    <input name="Who" class="col-4 my-2 fs-5" id="player">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group d-flex">
                                    <div class="col-md-6 my-2 fs-5">האם אי פעם לבשת אדום?</div>
                                    <input name="Did" class="col-4 my-2 fs-5" id="red">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="col-md-12 text-center">
                                <a href="/pending"><button id="send" type="submit"
                                        class="button col-2 mt-n3 justify-content-center">שלח</button></a>
                            </div>
                        </div>
                    </div>
                </div>
        </form>
    </div>
    </div>
    <script src="../register.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="register.css"></script>
</body>

</html>