body {
    background-color:rgb(249, 249, 249);
    text-align: right;
    margin-right: 8rex;
}

/*chaning the color of the fields which are unaccessible*/
input[readonly] {
    color: rgb(142, 141, 141); 
}

/*customize the image size*/
.bsymbol {
    margin-top: 20px;
    position:absolute;
    top: -10px;
    left: 20px;
    width: 120px;
}

/*center the content of the page*/
.move{
    margin-right: 3%;
}

/*customize the fields*/
input {
    background-color: rgb(245, 229, 3) !important;
}

.form-control{
    border-color: black;
    border: solid;
    width: 294px;
    height: 40.8px;
}

/*increase the title size*/
#title {
    font-size: 50px;
    margin-top: 4.5rem;
}

/*customize the update button*/
.button{
    position: absolute;
    left: 50%;
    top: 78%;
    transform:translate(-50%,-50%) ;
    text-align: center;
    background: #fff;
    padding: 10px 15px;
    color: blue;
    font-weight: bolder;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 6px 6px 29px -4px rgb(206, 196, 54);
}

/*chaning the quiz button when hover*/
.button:hover{
    background: #0f1316;
    color: #fff;
}

.login{
    margin-top: 20px;
    position:absolute;
    top: -10px;
    right: 20px;
}

.ub{
    margin-left: 40px;
}