body, input{
    font-family: var(--bs-body-font-family);
}

/*customize the border outside the table*/ 
.bord {
    border: 6px solid #000;
    border-radius: 7%;
    padding: 10px;
}

/*customize the search fields*/
input {
    background-color: rgb(245, 229, 3);
    font-size: 16px;
    border-radius: 7%;
}

/*customize the action buttons*/
.crud {
    font-size: 16px;
    border-radius: 10%;
    background-color: rgba(0, 0, 0, 0.797);
    color: rgb(245, 229, 3);
    height: 80%;
}

.date {
    text-align: left;
}

/*customize the images inside the table*/
.pics {
    transform: scale(0.22);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 40px;
}

/*customize the image size*/
.bsymbol {
    margin-top: 20px;
    position:absolute;
    top: -10px;
    left: 20px;
    width: 120px;
}

/*increase the title size*/
#title {
    font-size: 50px;
}

.dropdown-menu {
    display:list-item;
    right: 0%;
    top:30%;
}

#menu {
    padding-right: 0px;
    right: 0%;
    top: 20%;
    background-image:url('menu.png');
    height: 50px;
    width: 50px;
}

/*customize the plus images inside the table*/
.plus {
    transform: scale(0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 40px;
}

/*customize the popup background*/
.popup{
    background: rgba(0, 0, 0, 0.6);
    left: 0.01%;
    width: 100%;
    height: 150%;
    position: absolute;
    top:0;
    display: none;
    justify-content: center;
    align-items: center;
}

/*customize the popup content*/
.popup-content{
    height: 400px;
    width: 700px;
    background: #cbc67cdc;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    text-align: center;
}

/*customize the image size in the popup*/
.img{
    transform: scale(0.22);
    margin: 220px;
    margin-top: -85px;
}

/*customize the close button*/
.close{
    position: absolute;
    height: 15px;
}

/*positioning the fileds in the popup*/
.quiz {
    top:30%;
    position: absolute;
}

.fs-4 , .fs-3 {
   text-align: center;
}

input:hover{
        box-shadow: 0px 2px 3px rgb(192, 185, 185);
}

#active_d_o_b, #request_d_o_b{
    width: 188px;
    height: 29.2px;
    text-align: center;
}

.dropdown-menu{
    display: none;
}

.dropdown{
    margin-right: 10px;
    padding-top: 10px;
}

.btn-dark, .btn-dark:hover{
    color: rgb(245, 229, 3);
}